@use "../../styles/variables";

.Container {
  padding: 1rem;
  background-color: variables.$blue;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;

  .Title {
    font-family: variables.$monoFont;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    letter-spacing: 0.1rem;
  }
}
