@use "../../styles/variables";
@use "../../styles/mixins";

.Language {
  list-style-type: none;
  gap: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;

  li {
    background-color: variables.$cyan;
    border-radius: 0.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transition: variables.$transitionSpeed box-shadow ease;
    
    @media (min-width: 940px) {
      aspect-ratio: 1/1;
      flex-basis: 32%;
    }
    
    &:hover {
      box-shadow: 0 0 0.5rem 0.25rem variables.$lightcyan;
    }

    h4 {
      font-weight: normal;
    }

    a {
      @include mixins.button();
    }
  }
}
