.banner {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  background-image: url("https://www.lighthouselabs.ca/uploads/post/open_graph_image/459/Coding-vs-programming.jpg");
  background-position: 50%;
}

.banner img {
  width: 200px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.bannerInfo {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: rgba(130, 130, 130, 0.25);
  justify-content: space-evenly;
  padding: 1rem;
  font-size: 2rem;
  align-self: stretch;
}

.bannerName,
.bannerLabor {
  text-transform: uppercase;
}

.bannerName {
  font-weight: 900;
}

.bannerLabor {
  font-weight: 450;
}

.container {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: rgba(130, 130, 130, 0.25);
}

.containerTitle {
  font-weight: bolder;
  font-size: 1.5rem;
}
.containerInfo {
  padding: 0.5rem 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.locationContainer {
  border: 1px solid rgb(38, 38, 38);
  display: flex;
}

.locationTitle {
  border-right: 1px solid rgb(38, 38, 38);
  padding: 1rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}

.locationTasks, .locationSkills, .infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infoContainer {
    padding: 1rem;
    gap: 1rem;
}