@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@300;400;500;700&family=Roboto+Mono:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  font-family: "Roboto", sans-serif;
  background-color: rgb(50, 50, 50);
  width: 100%;
  color: white;

  & > div {
    animation-name: startup;
    animation-duration: 0.5s;
    animation-delay: 0.25s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
}

@keyframes startup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
